USE [master]
GO
/****** Object:  Database [NHAKHOA]    Script Date: 06-Jan-24 11:12:24 PM ******/
CREATE DATABASE [NHAKHOA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHAKHOA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NHAKHOA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NHAKHOA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NHAKHOA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHAKHOA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHAKHOA]
GO
/****** Object:  UserDefinedFunction [dbo].[F_GenerateID]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[F_GenerateID] (@Loai VARCHAR(10), @ID_max VARCHAR(5))
RETURNS VARCHAR(5) AS BEGIN
    IF (@ID_max IS NULL) SET @ID_max = @Loai + '01'
    ELSE BEGIN
        SET @ID_max = CAST(RIGHT(@ID_max, 2) AS INT) + 1
        SET @ID_max = @Loai + RIGHT('00' + CAST(@ID_max AS VARCHAR(2)), 2)
    END
    RETURN @ID_max
END
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[IDDichVu] [varchar](10) NOT NULL,
	[TenDichVu] [varchar](100) NULL,
	[PhiDichVu] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IDHoSo] [varchar](10) NOT NULL,
	[NguoiLap] [varchar](10) NULL,
	[TongTien] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoBenhNhan]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoBenhNhan](
	[IDHoSo] [varchar](10) NOT NULL,
	[ThoiGianKham] [datetime] NULL,
	[IDBenhNhan] [varchar](10) NULL,
	[NhaSi] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[IDKhachHang] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NULL,
	[SDT] [varchar](11) NULL,
	[NgaySinh] [date] NULL,
	[MatKhau] [nvarchar](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHen]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHen](
	[IDLichHen] [varchar](10) NOT NULL,
	[ThoiGianKham] [datetime] NULL,
	[IDKhachHang] [varchar](10) NULL,
	[NguoiKham] [varchar](10) NULL,
	[NguoiLap] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLichHen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichNhaSi]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichNhaSi](
	[IDNhaSi] [varchar](10) NOT NULL,
	[ThoiGianTrong] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNhaSi] ASC,
	[ThoiGianTrong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanSu]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanSu](
	[IDNhanSu] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NULL,
	[SDT] [varchar](11) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[LoaiNhanSu] [nvarchar](16) NULL,
	[MatKhau] [varchar](10) NULL,
	[IDQuanTriVien] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNhanSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuDungDV]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuDungDV](
	[IDDichVu] [varchar](10) NOT NULL,
	[IDHoSo] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDichVu] ASC,
	[IDHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuDungThuoc]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuDungThuoc](
	[IDThuoc] [varchar](10) NOT NULL,
	[IDHoSo] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDThuoc] ASC,
	[IDHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[MaThuoc] [varchar](10) NOT NULL,
	[TenThuoc] [nvarchar](30) NULL,
	[DVT] [nvarchar](10) NULL,
	[ChiDinh] [nvarchar](10) NULL,
	[SoLuongTon] [int] NULL,
	[NgayHetHan] [date] NULL,
	[DonGia] [int] NULL,
	[NguoiQuanLi] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DichVu] ([IDDichVu], [TenDichVu], [PhiDichVu]) VALUES (N'DV01', N'KHÁM T?NG QUÁT', N'100000')
GO
INSERT [dbo].[HoaDon] ([IDHoSo], [NguoiLap], [TongTien]) VALUES (N'HS01', N'NV01', N'160000')
INSERT [dbo].[HoaDon] ([IDHoSo], [NguoiLap], [TongTien]) VALUES (N'HS03', N'NV01', N'10000')
GO
INSERT [dbo].[HoSoBenhNhan] ([IDHoSo], [ThoiGianKham], [IDBenhNhan], [NhaSi]) VALUES (N'HS01', CAST(N'2024-10-12T00:00:00.000' AS DateTime), N'KH01', N'NS01')
INSERT [dbo].[HoSoBenhNhan] ([IDHoSo], [ThoiGianKham], [IDBenhNhan], [NhaSi]) VALUES (N'HS02', CAST(N'2024-09-22T00:00:00.000' AS DateTime), N'KH01', N'NS01')
INSERT [dbo].[HoSoBenhNhan] ([IDHoSo], [ThoiGianKham], [IDBenhNhan], [NhaSi]) VALUES (N'HS03', CAST(N'2024-11-15T00:00:00.000' AS DateTime), N'KH01', N'NS02')
GO
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTen], [SDT], [NgaySinh], [MatKhau]) VALUES (N'KH01', N'Bùi Ngọc Tiến', N'04215478651', CAST(N'1990-11-11' AS Date), N'123')
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTen], [SDT], [NgaySinh], [MatKhau]) VALUES (N'KH02', N'Vương Thịnh Đoàn', N'03506027378', CAST(N'2003-01-04' AS Date), N'123')
INSERT [dbo].[KhachHang] ([IDKhachHang], [HoTen], [SDT], [NgaySinh], [MatKhau]) VALUES (N'KH03', N'Nguyễn Uyên Huỳnh', N'07801199141', CAST(N'1988-10-15' AS Date), N'123')
GO
INSERT [dbo].[LichHen] ([IDLichHen], [ThoiGianKham], [IDKhachHang], [NguoiKham], [NguoiLap]) VALUES (N'LH01', CAST(N'2024-12-22T00:00:00.000' AS DateTime), N'KH01', N'NS01', NULL)
INSERT [dbo].[LichHen] ([IDLichHen], [ThoiGianKham], [IDKhachHang], [NguoiKham], [NguoiLap]) VALUES (N'LH02', CAST(N'2024-11-15T00:00:00.000' AS DateTime), N'KH02', N'NS02', NULL)
INSERT [dbo].[LichHen] ([IDLichHen], [ThoiGianKham], [IDKhachHang], [NguoiKham], [NguoiLap]) VALUES (N'LH03', CAST(N'2024-11-16T00:00:00.000' AS DateTime), N'KH03', N'NS02', NULL)
GO
INSERT [dbo].[LichNhaSi] ([IDNhaSi], [ThoiGianTrong]) VALUES (N'NS01', CAST(N'2024-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[LichNhaSi] ([IDNhaSi], [ThoiGianTrong]) VALUES (N'NS01', CAST(N'2024-12-22T00:00:00.000' AS DateTime))
INSERT [dbo].[LichNhaSi] ([IDNhaSi], [ThoiGianTrong]) VALUES (N'NS02', CAST(N'2024-11-15T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[NhanSu] ([IDNhanSu], [HoTen], [SDT], [DiaChi], [LoaiNhanSu], [MatKhau], [IDQuanTriVien]) VALUES (N'AD01', N'Huỳnh Sơn Hà', N'04215758216', N'830, Đoàn Văn Bơ, phường 16, quận 4, TP.HCM', N'AD', N'123', NULL)
INSERT [dbo].[NhanSu] ([IDNhanSu], [HoTen], [SDT], [DiaChi], [LoaiNhanSu], [MatKhau], [IDQuanTriVien]) VALUES (N'AD02', N'Lê Văn Dương', N'01234567890', N'123,456 Nguyễn Văn Cừ', N'AD', N'123', NULL)
INSERT [dbo].[NhanSu] ([IDNhanSu], [HoTen], [SDT], [DiaChi], [LoaiNhanSu], [MatKhau], [IDQuanTriVien]) VALUES (N'NS01', N'Lê Hoàng Đức', N'51243760942', N'741, Lê Lợi, phường 4, quận 1, TP.HCM', N'NS', N'123', NULL)
GO
INSERT [dbo].[SuDungDV] ([IDDichVu], [IDHoSo]) VALUES (N'DV01', N'HS01')
GO
INSERT [dbo].[SuDungThuoc] ([IDThuoc], [IDHoSo], [SoLuong]) VALUES (N'TH01', N'HS01', 6)
INSERT [dbo].[SuDungThuoc] ([IDThuoc], [IDHoSo], [SoLuong]) VALUES (N'TH06', N'HS03', 10)
GO
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [DVT], [ChiDinh], [SoLuongTon], [NgayHetHan], [DonGia], [NguoiQuanLi]) VALUES (N'TH01', N'Amoxicillin', N'GAM', N'Sau khi ăn', 94, CAST(N'2025-12-22' AS Date), 10000, N'AD01')
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [DVT], [ChiDinh], [SoLuongTon], [NgayHetHan], [DonGia], [NguoiQuanLi]) VALUES (N'TH02', N'Oxaprozin', N'GAM', N'Trước khi ', 500, CAST(N'2026-12-30' AS Date), 2000, N'AD01')
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [DVT], [ChiDinh], [SoLuongTon], [NgayHetHan], [DonGia], [NguoiQuanLi]) VALUES (N'TH03', N'Decongen', N'GAM', N'Uống sáng', 50, CAST(N'2026-12-30' AS Date), 5000, N'AD01')
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([IDHoSo])
REFERENCES [dbo].[HoSoBenhNhan] ([IDHoSo])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([NguoiLap])
REFERENCES [dbo].[NhanSu] ([IDNhanSu])
GO
ALTER TABLE [dbo].[HoSoBenhNhan]  WITH CHECK ADD FOREIGN KEY([IDBenhNhan])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[HoSoBenhNhan]  WITH CHECK ADD FOREIGN KEY([NhaSi])
REFERENCES [dbo].[NhanSu] ([IDNhanSu])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD FOREIGN KEY([NguoiKham])
REFERENCES [dbo].[NhanSu] ([IDNhanSu])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD FOREIGN KEY([NguoiLap])
REFERENCES [dbo].[NhanSu] ([IDNhanSu])
GO
ALTER TABLE [dbo].[LichNhaSi]  WITH CHECK ADD FOREIGN KEY([IDNhaSi])
REFERENCES [dbo].[NhanSu] ([IDNhanSu])
GO
ALTER TABLE [dbo].[NhanSu]  WITH CHECK ADD FOREIGN KEY([IDQuanTriVien])
REFERENCES [dbo].[NhanSu] ([IDNhanSu])
GO
ALTER TABLE [dbo].[SuDungDV]  WITH CHECK ADD FOREIGN KEY([IDDichVu])
REFERENCES [dbo].[DichVu] ([IDDichVu])
GO
ALTER TABLE [dbo].[SuDungDV]  WITH CHECK ADD FOREIGN KEY([IDHoSo])
REFERENCES [dbo].[HoSoBenhNhan] ([IDHoSo])
GO
ALTER TABLE [dbo].[SuDungThuoc]  WITH CHECK ADD FOREIGN KEY([IDHoSo])
REFERENCES [dbo].[HoSoBenhNhan] ([IDHoSo])
GO
ALTER TABLE [dbo].[SuDungThuoc]  WITH CHECK ADD FOREIGN KEY([IDThuoc])
REFERENCES [dbo].[Thuoc] ([MaThuoc])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([NguoiQuanLi])
REFERENCES [dbo].[NhanSu] ([IDNhanSu])
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_SUDUNGTHUOC_CYD]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRAN2
CREATE   PROC [dbo].[SP_DELETE_SUDUNGTHUOC_CYD]
    @IDHOSO VARCHAR(10),
    @MATHUOC VARCHAR(5)
AS BEGIN TRAN
    IF NOT EXISTS (SELECT * FROM HoSoBenhNhan
        WHERE @IDHOSO = IDHoSo)
	BEGIN
        RAISERROR('INVALID HO SO BENH NHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END
	DECLARE @SOLUONG INT 
	SET @SOLUONG = (SELECT SoLuong FROM SuDungThuoc WHERE IDThuoc = @MATHUOC)

    DECLARE @TIENTHUOC INT
    SET @TIENTHUOC = (SELECT DonGia FROM THUOC WHERE MATHUOC = @MATHUOC) * @SOLUONG
	WAITFOR DELAY '00:00:05'

	
	UPDATE HoaDon SET TongTien = TongTien - @TIENTHUOC WHERE IDHoSo = @IDHOSO

    WAITFOR DELAY '00:00:05'
	DELETE FROM SuDungThuoc WHERE IDHoSo = @IDHOSO AND IDThuoc = @MATHUOC
	
	UPDATE THUOC SET SoLuongTon = SoLuongTon + @SOLUONG WHERE MATHUOC = @MATHUOC

	
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_SUDUNGTHUOC_CYD_FIX]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRAN2
CREATE   PROC [dbo].[SP_DELETE_SUDUNGTHUOC_CYD_FIX]
    @IDHOSO VARCHAR(10),
    @MATHUOC VARCHAR(5)
AS BEGIN TRAN
    IF NOT EXISTS (SELECT * FROM HoSoBenhNhan
        WHERE @IDHOSO = IDHoSo)
	BEGIN
        RAISERROR('INVALID HO SO BENH NHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END
	
	WAITFOR DELAY '00:00:05'

	DECLARE @SOLUONG INT 
	SET @SOLUONG = (SELECT SoLuong FROM SuDungThuoc WHERE IDThuoc = @MATHUOC)

    DECLARE @TIENTHUOC INT
    SET @TIENTHUOC = (SELECT DonGia FROM THUOC WHERE MATHUOC = @MATHUOC) * @SOLUONG
	DELETE FROM SuDungThuoc WHERE IDHoSo = @IDHOSO AND IDThuoc = @MATHUOC
	
    WAITFOR DELAY '00:00:05'
	UPDATE HoaDon SET TongTien = TongTien - @TIENTHUOC WHERE IDHoSo = @IDHOSO
	
	UPDATE THUOC SET SoLuongTon = SoLuongTon + @SOLUONG WHERE MATHUOC = @MATHUOC
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DICHVU]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_INSERT_DICHVU]
	@IDDICHVU VARCHAR(5) = NULL,
    @TENDICHVU NVARCHAR(100),
    @PHIDICHVU INT    
AS BEGIN TRAN
    IF @PHIDICHVU < 0 
	BEGIN
        RAISERROR('INVALID PHI DICH VU', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    SELECT @IDDICHVU = IDDICHVU FROM DichVu
    WHERE IDDICHVU = (SELECT MAX(IDDICHVU) FROM DichVu)

    SET @IDDICHVU = dbo.F_GenerateID('DV', @IDDICHVU)

    INSERT INTO DichVu
    VALUES (@IDDICHVU, @TENDICHVU, @PHIDICHVU)
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_HOADON]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_INSERT_HOADON]
    @IDHOSO VARCHAR(5),
    @IDNVLAP VARCHAR(5)
AS BEGIN TRAN
    IF NOT EXISTS (SELECT * FROM HoSoBenhNhan WHERE IDHoSo = @IDHOSO)
	BEGIN
        RAISERROR('INVALID HO SO BENH NHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF EXISTS (SELECT * FROM HoaDon WHERE IDHoSo = @IDHOSO)
	BEGIN
        RAISERROR('HO SO BENH NHAN NAY DA CO HOA DON', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @IDNVLAP NOT LIKE 'NV%' AND NOT EXISTS (SELECT * FROM NhanSu
        WHERE IDNhanSu = @IDNVLAP)
	BEGIN
        RAISERROR('INVALID IDNVLAP', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    INSERT INTO HOADON
    VALUES (@IDHOSO, @IDNVLAP, 0) --TONG TIEN BAN DAU SET LA 0
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_HOSOBENHNHAN]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_INSERT_HOSOBENHNHAN]
	@IDHOSO VARCHAR(5) = NULL,
	@THOIGIANKHAM DATE,
    @IDKHACHHANG VARCHAR(5),
    @IDNHASI VARCHAR(5)    
AS BEGIN TRAN
	IF DATEDIFF(d, @THOIGIANKHAM, GETDATE()) > 0
	BEGIN
        RAISERROR('THOI GIAN KHONG HOP LE', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF NOT EXISTS (SELECT * FROM KHACHHANG
        WHERE IDKHACHHANG = @IDKHACHHANG) 
	BEGIN
        RAISERROR('INVALID IDKHACHHANG', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF NOT EXISTS (SELECT * FROM NhanSu WHERE IDNhanSu = @IDNHASI) 
	BEGIN
        RAISERROR('INVALID MANHASI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF EXISTS (SELECT * FROM HoSoBenhNhan
        WHERE IDBenhNhan = @IDKHACHHANG AND NhaSi = @IDNHASI AND ThoiGianKham = @THOIGIANKHAM) 
	BEGIN
        RAISERROR('HO SO BENH NHAN CHO LAN KHAM NAY DA TON TAI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    SELECT @IDHOSO = IDHOSO FROM HoSoBenhNhan
    WHERE IDHOSO = (SELECT MAX(IDHOSO) FROM HoSoBenhNhan)

    SET @IDHOSO = dbo.F_GenerateID('HS', @IDHOSO)
    
    INSERT INTO HoSoBenhNhan 
	VALUES (@IDHOSO, @THOIGIANKHAM, @IDKHACHHANG, @IDNHASI)
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_KHACHHANG]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 CREATE   PROC [dbo].[SP_INSERT_KHACHHANG]
	@IDKHACHHANG VARCHAR(5) = NULL,
    @HOTEN NVARCHAR(30),
    @SDT VARCHAR(11),
	@NGAYSINH DATE,
    @MATKHAU VARCHAR(20)
AS BEGIN TRAN
	IF EXISTS (SELECT * FROM KHACHHANG WHERE SDT = @SDT) 
	BEGIN
        RAISERROR('Khach hang da ton tai', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    SELECT @IDKHACHHANG = IDKHACHHANG FROM KHACHHANG
    WHERE IDKHACHHANG = (SELECT MAX(IDKHACHHANG) FROM KHACHHANG)

    SET @IDKHACHHANG = dbo.F_GenerateID('KH', @IDKHACHHANG)

    INSERT INTO KHACHHANG
    VALUES (@IDKHACHHANG, @HOTEN, @SDT, @NGAYSINH, @MATKHAU)
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_LICHHEN]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRAN2
CREATE   PROC [dbo].[SP_INSERT_LICHHEN]
	@IDLICHHEN VARCHAR(10),
    @THOIGIANKHAM DATE,
    @IDKHACHHANG VARCHAR(5),
    @IDNHASI VARCHAR(5),
    @IDNVDATLICH VARCHAR(5) = NULL
AS BEGIN TRAN
	IF DATEDIFF(d, @THOIGIANKHAM, GETDATE()) > 0
	BEGIN
        RAISERROR('THOI GIAN KHONG HOP LE', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF NOT EXISTS (SELECT * FROM KHACHHANG
					WHERE IDKHACHHANG = @IDKHACHHANG) 
	BEGIN
        RAISERROR('INVALID IDKHACHHANG', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF NOT EXISTS (SELECT * FROM NhanSu
        WHERE IDNhanSu = @IDNHASI) 
	BEGIN
        RAISERROR('INVALID IDNHASI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF EXISTS (SELECT * FROM LichHen 
				WHERE ThoiGianKham = @THOIGIANKHAM AND NguoiKham = @IDNHASI AND IDKhachHang = @IDKHACHHANG)
	BEGIN
        RAISERROR('LICH HEN DA TON TAI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @IDNVDATLICH IS NOT NULL AND NOT EXISTS
        (SELECT * FROM NhanSu WHERE IDNhanSu = @IDNVDATLICH) 
	BEGIN
        RAISERROR('INVALID IDNVDATLICH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM LichNhaSi 
					WHERE ThoiGianTrong = @THOIGIANKHAM AND IDNhaSi = @IDNHASI)
	BEGIN
        RAISERROR('NHASI IS NOT AVAILABLE AT THAT TIME', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    SELECT @IDLICHHEN = IDLICHHEN FROM LICHHEN
    WHERE IDLICHHEN = (SELECT MAX(IDLICHHEN) FROM LICHHEN)

    SET @IDLICHHEN = dbo.F_GenerateID('LH', @IDLICHHEN)

    INSERT INTO LICHHEN
    VALUES (@IDLICHHEN, @THOIGIANKHAM, @IDKHACHHANG, @IDNHASI, @IDNVDATLICH)
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_LICHHEN_DR]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DIRTY READ 
CREATE   PROC [dbo].[SP_INSERT_LICHHEN_DR]
	@IDLICHHEN VARCHAR(10) = null output,
    @THOIGIANKHAM DATE,
    @IDKHACHHANG VARCHAR(5),
    @IDNHASI VARCHAR(5),
    @IDNVDATLICH VARCHAR(5) = NULL
AS BEGIN TRAN
	IF DATEDIFF(d, @THOIGIANKHAM, GETDATE()) > 0
	BEGIN
        RAISERROR('THOI GIAN KHONG HOP LE', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF NOT EXISTS (SELECT * FROM KHACHHANG
					WHERE IDKHACHHANG = @IDKHACHHANG) 
	BEGIN
        RAISERROR('INVALID IDKHACHHANG', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF NOT EXISTS (SELECT * FROM NhanSu
        WHERE IDNhanSu = @IDNHASI) 
	BEGIN
        RAISERROR('INVALID IDNHASI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF EXISTS (SELECT * FROM LichHen 
				WHERE ThoiGianKham = @THOIGIANKHAM AND NguoiKham = @IDNHASI AND IDKhachHang = @IDKHACHHANG)
	BEGIN
        RAISERROR('LICH HEN DA TON TAI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @IDNVDATLICH IS NOT NULL AND NOT EXISTS
        (SELECT * FROM NhanSu WHERE IDNhanSu = @IDNVDATLICH) 
	BEGIN
        RAISERROR('INVALID IDNVDATLICH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    SELECT @IDLICHHEN = IDLICHHEN FROM LICHHEN
    WHERE IDLICHHEN = (SELECT MAX(IDLICHHEN) FROM LICHHEN)

    SET @IDLICHHEN = dbo.F_GenerateID('LH', @IDLICHHEN)

    INSERT INTO LICHHEN
    VALUES (@IDLICHHEN, @THOIGIANKHAM, @IDKHACHHANG, @IDNHASI, @IDNVDATLICH)

	WAITFOR DELAY '00:00:10'
	IF NOT EXISTS (SELECT * FROM LichNhaSi 
					WHERE ThoiGianTrong = @THOIGIANKHAM AND IDNhaSi = @IDNHASI)
	BEGIN
        RAISERROR('NHASI IS NOT AVAILABLE AT THAT TIME', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_LICHNHASI]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_INSERT_LICHNHASI]
	@IDNHASI VARCHAR(5),
	@THOIGIANTRONG DATE
AS BEGIN TRAN


	IF NOT EXISTS (SELECT * FROM NhanSu WHERE IDNhanSu = @IDNHASI) 
	BEGIN
        RAISERROR('NHA SI KHONG TON TAI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF DATEDIFF(d, @THOIGIANTRONG, GETDATE()) > 0
	BEGIN
        RAISERROR('THOI GIAN KHONG HOP LE', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    INSERT INTO LichNhaSi
    VALUES (@IDNHASI, @THOIGIANTRONG)
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_MEDICINE]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_INSERT_MEDICINE]
	@MATHUOC VARCHAR(10) = NULL OUTPUT, --auto generate
    @TENTHUOC NVARCHAR(30),
    @DONVITINH NVARCHAR(10),
    @CHIDINH NVARCHAR(10),
    @SOLUONGTON INT,
    @NGAYHETHAN DATE,
    @DONGIA INT,
    @NGUOIQUANLY VARCHAR(10)
    
AS BEGIN TRAN
	IF @TENTHUOC IS NULL
	BEGIN
        RAISERROR(N'INVALID DONVITINH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @DONVITINH != 'GAM' AND @DONVITINH != N'MLÍT'
    BEGIN
        RAISERROR(N'INVALID DONVITINH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @SOLUONGTON < 0 
	BEGIN
        RAISERROR('INVALID SOLUONGTON', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF DATEDIFF(d, @NGAYHETHAN, GETDATE()) > 0
	BEGIN
        RAISERROR('INVALID NGAYHETHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END
	
    IF @DONGIA < 0 
	BEGIN
        RAISERROR('INVALID GIATIEN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF LEFT(@NGUOIQUANLY, 2) != 'AD' 
	BEGIN
        RAISERROR('NGUOIQUANLY MUST BE AN ADMIN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM NhanSu WHERE IDNhanSu = @NGUOIQUANLY) 
	BEGIN
        RAISERROR('INVALID NGUOIQUANLY', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    SELECT @MATHUOC = MATHUOC FROM THUOC
    WHERE MATHUOC = (SELECT MAX(MATHUOC) FROM THUOC)

    SET @MATHUOC = dbo.F_GenerateID('TH', @MATHUOC)

    INSERT INTO THUOC
    VALUES (@MATHUOC, @TENTHUOC, @DONVITINH, @CHIDINH,
        @SOLUONGTON, @NGAYHETHAN, @DONGIA, @NGUOIQUANLY)
    
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_NHANSU]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_INSERT_NHANSU]
    @IDNhanSu VARCHAR(5) = NULL,
    @HOTEN NVARCHAR(30),
	@SDT VARCHAR(11),
    @DIACHI NVARCHAR(100),
    @LOAINHANSU VARCHAR(10),
    @MATKHAU VARCHAR(16),
	@IDQUANTRIVIEN VARCHAR(10)
AS BEGIN TRAN
	IF EXISTS (SELECT * FROM NhanSu WHERE SDT = @SDT) 
	BEGIN
        RAISERROR('Nhan su da ton tai', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF @LOAINHANSU != 'AD' AND @LOAINHANSU != 'NS' AND @LOAINHANSU != 'NV'
	BEGIN
        RAISERROR('LOAI NHAN SU KHONG HOP LE', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF @IDQUANTRIVIEN != NULL AND LEFT(@IDQUANTRIVIEN, 2) != 'AD' 
	BEGIN
        RAISERROR('NGUOI QUAN LY MUST BE AN ADMIN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    SELECT @IDNhanSu = IDNhanSu FROM NHANSU
    WHERE IDNhanSu = (SELECT MAX(IDNhanSu) 
					  FROM NHANSU
					  WHERE IDNhanSu LIKE @LOAINHANSU + '%')

    SET @IDNhanSu = dbo.F_GenerateID(@LOAINHANSU, @IDNhanSu)

    INSERT INTO NHANSU
    VALUES (@IDNhanSu, @HOTEN, @SDT, @DIACHI, @LOAINHANSU, @MATKHAU, @IDQUANTRIVIEN)
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_SUDUNGDICHVU]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_INSERT_SUDUNGDICHVU]
    @IDHOSO VARCHAR(10),
    @IDDICHVU VARCHAR(5)
AS BEGIN TRAN
    IF NOT EXISTS (SELECT * FROM HoSoBenhNhan
        WHERE @IDHOSO = IDHoSo)
	BEGIN
        RAISERROR('INVALID HO SO BENH NHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM DICHVU WHERE IDDICHVU = @IDDICHVU) 
	BEGIN
        RAISERROR('INVALID IDDICHVU', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF EXISTS (SELECT * FROM SuDungDV
        WHERE @IDHOSO = IDHoSo AND IDDICHVU = @IDDICHVU) BEGIN
        RAISERROR('DICHVU DA DUOC SU DUNG', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    DECLARE @TIENDICHVU INT
    SET @TIENDICHVU = (SELECT PhiDichVu FROM DICHVU WHERE IDDICHVU = @IDDICHVU)

    INSERT INTO SuDungDV
    VALUES (@IDDICHVU, @IDHOSO)

    UPDATE HoaDon SET TongTien = TongTien + @TIENDICHVU WHERE IDHoSo = @IDHOSO
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_SUDUNGTHUOC]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_INSERT_SUDUNGTHUOC]
    @IDHOSO VARCHAR(10),
    @MATHUOC VARCHAR(5),
    @SOLUONG INT
AS BEGIN TRAN
    IF NOT EXISTS (SELECT * FROM HoSoBenhNhan
        WHERE @IDHOSO = IDHoSo)
	BEGIN
        RAISERROR('INVALID HO SO BENH NHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM HoaDon
        WHERE IDHoSo = @IDHOSO)
	BEGIN
        RAISERROR('HO SO CHUA CO HOA DON', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC
        AND SoLuongTon >= @SOLUONG) 
	BEGIN
        RAISERROR('SO LUONG THUOC KHONG DU', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF EXISTS (SELECT * FROM SuDungThuoc
        WHERE @IDHOSO = IDHoSo AND IDThuoc = @MATHUOC) BEGIN
        RAISERROR('THUOC DA DUOC KE', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    DECLARE @TIENTHUOC INT
    SET @TIENTHUOC = (SELECT DonGia FROM THUOC WHERE MATHUOC = @MATHUOC) * @SOLUONG

    INSERT INTO SuDungThuoc
    VALUES (@MATHUOC, @IDHOSO, @SOLUONG)

    UPDATE THUOC SET SoLuongTon = SoLuongTon - @SOLUONG WHERE MATHUOC = @MATHUOC

    UPDATE HoaDon SET TongTien = TongTien + @TIENTHUOC WHERE IDHoSo = @IDHOSO
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_HOSOBENHNHAN_LU]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[SP_UPDATE_HOSOBENHNHAN_LU]
	@IDHOSO VARCHAR(10),
    @SONGAYDOI INT
AS BEGIN TRAN
    IF @SONGAYDOI = 0
	BEGIN
        RAISERROR('NGAY DOI PHAI KHAC 0', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM HoSoBenhNhan WHERE IDHoSo = @IDHOSO)
	BEGIN
        RAISERROR('HO SO KHONG TON TAI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	DECLARE @NGAYCU DATE
	SELECT @NGAYCU = ThoiGianKham FROM HoSoBenhNhan WHERE IDHoSo = @IDHOSO

	DECLARE @NGAYMOI DATE 
	set @NGAYMOI = DATEADD(DAY, @SONGAYDOI, @NGAYCU)


    WAITFOR DELAY '00:00:05'

    UPDATE HoSoBenhNhan SET ThoiGianKham = @NGAYMOI WHERE IDHoSo = @IDHOSO
	IF @@ERROR <> 0
	BEGIN
		PRINT N'LOI HẸ THỐNG'
		RETURN
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_HOSOBENHNHAN_LU_FIX]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_UPDATE_HOSOBENHNHAN_LU_FIX]
	@IDHOSO VARCHAR(10),
    @SONGAYDOI INT
AS BEGIN TRAN
    IF @SONGAYDOI = 0
	BEGIN
        RAISERROR('NGAY DOI PHAI KHAC 0', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM HoSoBenhNhan WHERE IDHoSo = @IDHOSO)
	BEGIN
        RAISERROR('HO SO KHONG TON TAI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	DECLARE @IDNHASI VARCHAR(5)
	SELECT @IDNHASI = NhaSi FROM HoSoBenhNhan WHERE IDHoSo = @IDHOSO

	DECLARE @NGAYCU DATE
	SELECT @NGAYCU = ThoiGianKham FROM HoSoBenhNhan WITH(XLOCK) WHERE IDHoSo = @IDHOSO

	DECLARE @NGAYMOI DATE 
	set @NGAYMOI = DATEADD(DAY, @SONGAYDOI, @NGAYCU)

    WAITFOR DELAY '00:00:05'

    UPDATE HoSoBenhNhan SET ThoiGianKham = @NGAYMOI WHERE IDHoSo = @IDHOSO
	IF @@ERROR <> 0
	BEGIN
		PRINT N'LOI HẸ THỐNG'
		RETURN
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MEDICINE]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DIRTY READ 

CREATE   PROC [dbo].[SP_UPDATE_MEDICINE]
	@MATHUOC VARCHAR(10),
    @TENTHUOC NVARCHAR(30),
    @DONVITINH NVARCHAR(10),
    @CHIDINH NVARCHAR(10),
    @SOLUONGTON INT,
    @NGAYHETHAN DATE,
    @DONGIA INT,
    @NGUOIQUANLY VARCHAR(10)
AS BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF @TENTHUOC IS NULL
	BEGIN
        RAISERROR(N'INVALID DONVITINH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @DONVITINH != 'GAM' AND @DONVITINH != N'LÍT'
    BEGIN
        RAISERROR(N'INVALID DONVITINH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @SOLUONGTON < 0 
	BEGIN
        RAISERROR('INVALID SOLUONGTON', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF DATEDIFF(d, @NGAYHETHAN, GETDATE()) > 0
	BEGIN
        RAISERROR('INVALID NGAYHETHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END
	

    IF LEFT(@NGUOIQUANLY, 2) != 'AD' 
	BEGIN
        RAISERROR('NGUOIQUANLY MUST BE AN ADMIN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM NhanSu WHERE IDNhanSu = @NGUOIQUANLY) 
	BEGIN
        RAISERROR('INVALID NGUOIQUANLY', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    UPDATE THUOC SET TENTHUOC = @TENTHUOC, DVT = @DONVITINH,
        CHIDINH = @CHIDINH, SOLUONGTON = @SOLUONGTON,
        NGAYHETHAN = @NGAYHETHAN, DONGIA = @DONGIA,
        NGUOIQUANLI = @NGUOIQUANLY
    WHERE MATHUOC = @MATHUOC

    WAITFOR DELAY '00:00:10'
	IF @DONGIA < 0 
	BEGIN
        RAISERROR('INVALID GIATIEN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END
    
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MEDICINE_CD]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_UPDATE_MEDICINE_CD]
	@MATHUOC VARCHAR(10),
    @TENTHUOC NVARCHAR(30),
    @DONVITINH NVARCHAR(10),
    @CHIDINH NVARCHAR(10),
    @SOLUONGTON INT,
    @NGAYHETHAN DATE,
    @DONGIA INT,
    @NGUOIQUANLY VARCHAR(10)
AS SET TRAN ISOLATION LEVEL REPEATABLE READ
BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF @TENTHUOC IS NULL
	BEGIN
        RAISERROR(N'INVALID DONVITINH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @DONVITINH != 'GAM' AND @DONVITINH != N'MLÍT'
    BEGIN
        RAISERROR(N'INVALID DONVITINH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @SOLUONGTON < 0 
	BEGIN
        RAISERROR('INVALID SOLUONGTON', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF DATEDIFF(d, @NGAYHETHAN, GETDATE()) > 0
	BEGIN
        RAISERROR('INVALID NGAYHETHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END
	
	IF @DONGIA < 0 
	BEGIN
        RAISERROR('INVALID GIATIEN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF LEFT(@NGUOIQUANLY, 2) != 'AD' 
	BEGIN
        RAISERROR('NGUOIQUANLY MUST BE AN ADMIN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM NhanSu WHERE IDNhanSu = @NGUOIQUANLY) 
	BEGIN
        RAISERROR('INVALID NGUOIQUANLY', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	WAITFOR DELAY '00:00:05'

    UPDATE THUOC SET TENTHUOC = @TENTHUOC, DVT = @DONVITINH,
        CHIDINH = @CHIDINH, SOLUONGTON = @SOLUONGTON,
        NGAYHETHAN = @NGAYHETHAN, DONGIA = @DONGIA,
        NGUOIQUANLI = @NGUOIQUANLY
    WHERE MATHUOC = @MATHUOC
    
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MEDICINE_CD_FIX]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_UPDATE_MEDICINE_CD_FIX]
	@MATHUOC VARCHAR(10),
    @TENTHUOC NVARCHAR(30),
    @DONVITINH NVARCHAR(10),
    @CHIDINH NVARCHAR(10),
    @SOLUONGTON INT,
    @NGAYHETHAN DATE,
    @DONGIA INT,
    @NGUOIQUANLY VARCHAR(10)
AS
BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF @TENTHUOC IS NULL
	BEGIN
        RAISERROR(N'INVALID DONVITINH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @DONVITINH != 'GAM' AND @DONVITINH != N'MLÍT'
    BEGIN
        RAISERROR(N'INVALID DONVITINH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @SOLUONGTON < 0 
	BEGIN
        RAISERROR('INVALID SOLUONGTON', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF DATEDIFF(d, @NGAYHETHAN, GETDATE()) > 0
	BEGIN
        RAISERROR('INVALID NGAYHETHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END
	
	IF @DONGIA < 0 
	BEGIN
        RAISERROR('INVALID GIATIEN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF LEFT(@NGUOIQUANLY, 2) != 'AD' 
	BEGIN
        RAISERROR('NGUOIQUANLY MUST BE AN ADMIN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM NhanSu WHERE IDNhanSu = @NGUOIQUANLY) 
	BEGIN
        RAISERROR('INVALID NGUOIQUANLY', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	WAITFOR DELAY '00:00:05'

    UPDATE THUOC SET TENTHUOC = @TENTHUOC, DVT = @DONVITINH,
        CHIDINH = @CHIDINH, SOLUONGTON = @SOLUONGTON,
        NGAYHETHAN = @NGAYHETHAN, DONGIA = @DONGIA,
        NGUOIQUANLI = @NGUOIQUANLY
    WHERE MATHUOC = @MATHUOC
    
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MEDICINE_GIAM_SLTK]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRAN2
CREATE   PROC [dbo].[SP_UPDATE_MEDICINE_GIAM_SLTK]
	@MATHUOC VARCHAR(10), 
    @SOLUONGGIAM INT -- SỐ LƯỢNG  
AS BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF @SOLUONGGIAM <= 0 
	BEGIN
		RAISERROR('SO LUONG GIAM PHAI LON HON 0', 16, 1)
        ROLLBACK TRAN
        RETURN -1
	END

	DECLARE @SOLUONGTON INT
	SET @SOLUONGTON = (SELECT SOLUONGTON FROM THUOC WHERE MATHUOC = @MATHUOC)

	IF @SOLUONGTON - @SOLUONGGIAM <= 0 
	BEGIN
		RAISERROR('SO LUONG TON KHONG DU', 16, 1)
        ROLLBACK TRAN
        RETURN -1
	END

	WAITFOR DELAY '00:00:05'

    UPDATE THUOC SET SOLUONGTON = @SOLUONGTON - @SOLUONGGIAM  WHERE MATHUOC = @MATHUOC
    
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MEDICINE_GIAM_SLTK_FIX]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRAN2
CREATE   PROC [dbo].[SP_UPDATE_MEDICINE_GIAM_SLTK_FIX]
	@MATHUOC VARCHAR(10), 
    @SOLUONGGIAM INT -- SỐ LƯỢNG  
AS
BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF @SOLUONGGIAM <= 0 
	BEGIN
		RAISERROR('SO LUONG GIAM PHAI LON HON 0', 16, 1)
        ROLLBACK TRAN
        RETURN -1
	END
	
	DECLARE @SOLUONGTON INT
	SET @SOLUONGTON = (SELECT SOLUONGTON FROM THUOC  WITH (XLOCK) WHERE MATHUOC = @MATHUOC)
	PRINT(@SOLUONGTON)

	IF @SOLUONGTON - @SOLUONGGIAM <= 0 
	BEGIN
		RAISERROR('SO LUONG TON KHONG DU', 16, 1)
        ROLLBACK TRAN
        RETURN -1
	END

	WAITFOR DELAY '00:00:05'

    UPDATE THUOC SET SOLUONGTON = @SOLUONGTON - @SOLUONGGIAM  WHERE MATHUOC = @MATHUOC
    
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MEDICINE_THEM_SLTK]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRAN1
CREATE   PROC [dbo].[SP_UPDATE_MEDICINE_THEM_SLTK]
	@MATHUOC VARCHAR(10), 
    @SOLUONGTHEM INT -- SỐ LƯỢNG 
AS BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF @SOLUONGTHEM <= 0 
	BEGIN
		RAISERROR('SO LUONG THEM PHAI LON HON 0', 16, 1)
        ROLLBACK TRAN
        RETURN -1
	END

	DECLARE @SOLUONGTON INT
	SET @SOLUONGTON = (SELECT SOLUONGTON FROM THUOC WHERE MATHUOC = @MATHUOC)

	WAITFOR DELAY '00:00:05'

    UPDATE THUOC SET SOLUONGTON = @SOLUONGTON + @SOLUONGTHEM  WHERE MATHUOC = @MATHUOC
    
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MEDICINE_THEM_SLTK_FIX]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRAN1
CREATE   PROC [dbo].[SP_UPDATE_MEDICINE_THEM_SLTK_FIX]
	@MATHUOC VARCHAR(10), 
    @SOLUONGTHEM INT -- SỐ LƯỢNG 
AS 
BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC 
							WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF @SOLUONGTHEM <= 0 
	BEGIN
		RAISERROR('SO LUONG THEM PHAI LON HON 0', 16, 1)
        ROLLBACK TRAN
        RETURN -1
	END

	DECLARE @SOLUONGTON INT
	SET @SOLUONGTON = (SELECT SOLUONGTON FROM THUOC WITH (XLOCK) 
										WHERE MATHUOC = @MATHUOC)

	WAITFOR DELAY '00:00:05'

    UPDATE THUOC SET SOLUONGTON = @SOLUONGTON + @SOLUONGTHEM  WHERE MATHUOC = @MATHUOC
    SET @SOLUONGTON = (SELECT SOLUONGTON FROM THUOC  
										WHERE MATHUOC = @MATHUOC)
	PRINT(@SOLUONGTON)
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MEDICINE_UNR]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Tran 2
CREATE   PROC [dbo].[SP_UPDATE_MEDICINE_UNR]
	@MATHUOC VARCHAR(10),
    @TENTHUOC NVARCHAR(30),
    @DONVITINH NVARCHAR(10),
    @CHIDINH NVARCHAR(10),
    @SOLUONGTON INT,
    @NGAYHETHAN DATE,
    @DONGIA INT,
    @NGUOIQUANLY VARCHAR(10)
AS BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF @TENTHUOC IS NULL
	BEGIN
        RAISERROR(N'INVALID DONVITINH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @DONVITINH != 'GAM' AND @DONVITINH != N'LÍT'
    BEGIN
        RAISERROR(N'INVALID DONVITINH', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF @SOLUONGTON < 0 
	BEGIN
        RAISERROR('INVALID SOLUONGTON', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF DATEDIFF(d, @NGAYHETHAN, GETDATE()) > 0
	BEGIN
        RAISERROR('INVALID NGAYHETHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END
	
	IF @DONGIA < 0 
	BEGIN
        RAISERROR('INVALID GIATIEN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF LEFT(@NGUOIQUANLY, 2) != 'AD' 
	BEGIN
        RAISERROR('NGUOIQUANLY MUST BE AN ADMIN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM NhanSu WHERE IDNhanSu = @NGUOIQUANLY) 
	BEGIN
        RAISERROR('INVALID NGUOIQUANLY', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    UPDATE THUOC SET TENTHUOC = @TENTHUOC, DVT = @DONVITINH,
        CHIDINH = @CHIDINH, SOLUONGTON = @SOLUONGTON,
        NGAYHETHAN = @NGAYHETHAN, DONGIA = @DONGIA,
        NGUOIQUANLI = @NGUOIQUANLY
    WHERE MATHUOC = @MATHUOC
    
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SUDUNGTHUOC_CYD]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--TRAN1 
CREATE   PROC [dbo].[SP_UPDATE_SUDUNGTHUOC_CYD]
    @IDHOSO VARCHAR(10),
    @MATHUOC VARCHAR(5),
    @SOLUONGMOI INT
AS BEGIN TRAN
    IF NOT EXISTS (SELECT * FROM HoSoBenhNhan
        WHERE @IDHOSO = IDHoSo)
	BEGIN
        RAISERROR('INVALID HO SO BENH NHAN', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC
        AND SoLuongTon >= @SOLUONGMOI) 
	BEGIN
        RAISERROR('SO LUONG THUOC KHONG DU', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

    DECLARE @TIENTHUOCMOI INT
    SET @TIENTHUOCMOI = (SELECT DonGia FROM THUOC WHERE MATHUOC = @MATHUOC) * @SOLUONGMOI

	DECLARE @TIENTHUOCCU INT, @SOLUONGCU INT 
	SET @SOLUONGCU = (SELECT SoLuong FROM SuDungThuoc WHERE IDThuoc = @MATHUOC)
    SET @TIENTHUOCCU = (SELECT DonGia FROM THUOC WHERE MATHUOC = @MATHUOC) * @SOLUONGCU
	WAITFOR DELAY '00:00:05'
	UPDATE SuDungThuoc SET SoLuong = @SOLUONGMOI WHERE IDHoSo = @IDHOSO AND IDThuoc = @MATHUOC
    
	WAITFOR DELAY '00:00:05'
    UPDATE HoaDon SET TongTien = TongTien - @TIENTHUOCCU + @TIENTHUOCMOI WHERE IDHoSo = @IDHOSO

	UPDATE THUOC SET SoLuongTon = SoLuongTon + @SOLUONGCU - @SOLUONGMOI WHERE MATHUOC = @MATHUOC
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_VIEW_LICHHEN]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_VIEW_LICHHEN]
	@IDKHACHHANG VARCHAR(10),
	@IDNHASI VARCHAR(10)
AS
SET TRAN ISOLATION LEVEL READ UNCOMMITTED	
BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM KhachHang WHERE IDKhachHang = @IDKHACHHANG) 
	BEGIN
        RAISERROR('INVALID IDKHACHHANG', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM NhanSu WHERE IDNhanSu = @IDNHASI) 
	BEGIN
        RAISERROR('INVALID IDNHASI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	select * from LichHen WHERE IDKhachHang = @IDKHACHHANG AND NguoiKham = @IDNHASI 
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_VIEW_LICHHEN_FIX]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_VIEW_LICHHEN_FIX]
	@IDKHACHHANG VARCHAR(10),
	@IDNHASI VARCHAR(10)
AS
BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM KhachHang WHERE IDKhachHang = @IDKHACHHANG) 
	BEGIN
        RAISERROR('INVALID IDKHACHHANG', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	IF NOT EXISTS (SELECT * FROM NhanSu WHERE IDNhanSu = @IDNHASI) 
	BEGIN
        RAISERROR('INVALID IDNHASI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	select * from LichHen WHERE IDKhachHang = @IDKHACHHANG AND NguoiKham = @IDNHASI 
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_VIEW_LICHHEN_NS]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRAN1
CREATE   PROC [dbo].[SP_VIEW_LICHHEN_NS]
    @IDNHASI VARCHAR(5)
AS BEGIN TRAN
    IF NOT EXISTS (SELECT * FROM NhanSu
        WHERE IDNhanSu = @IDNHASI) 
	BEGIN
        RAISERROR('INVALID IDNHASI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	DECLARE @SOLICHHEN INT
	SELECT @SOLICHHEN = COUNT(*) FROM LICHHEN WHERE NGUOIKHAM = @IDNHASI 
    
	SELECT * FROM LICHHEN WHERE NGUOIKHAM = @IDNHASI
	print(N'Số lượng lịch hẹn đang có: ' + cast(@SOLICHHEN AS VARCHAR(5)))

	WAITFOR DELAY '00:00:10'
	SELECT @SOLICHHEN = COUNT(*) FROM LICHHEN WHERE NGUOIKHAM = @IDNHASI 
    
	SELECT * FROM LICHHEN WHERE NGUOIKHAM = @IDNHASI
	print(N'Số lượng lịch hẹn đang có: ' + cast(@SOLICHHEN AS VARCHAR(5)))

COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_VIEW_LICHHEN_NS_FIX]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TRAN1
CREATE   PROC [dbo].[SP_VIEW_LICHHEN_NS_FIX]
    @IDNHASI VARCHAR(5)
AS SET TRAN ISOLATION LEVEL SERIALIZABLE 
BEGIN TRAN
    IF NOT EXISTS (SELECT * FROM NhanSu
        WHERE IDNhanSu = @IDNHASI) 
	BEGIN
        RAISERROR('INVALID IDNHASI', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	DECLARE @SOLICHHEN INT
	SELECT @SOLICHHEN = COUNT(*) FROM LICHHEN WHERE NGUOIKHAM = @IDNHASI 
    
	SELECT * FROM LICHHEN WHERE NGUOIKHAM = @IDNHASI
	print(N'Số lượng lịch hẹn đang có: ' + cast(@SOLICHHEN AS VARCHAR(5)))

	WAITFOR DELAY '00:00:10'
	SELECT @SOLICHHEN = COUNT(*) FROM LICHHEN WHERE NGUOIKHAM = @IDNHASI 
    
	SELECT * FROM LICHHEN WHERE NGUOIKHAM = @IDNHASI
	print(N'Số lượng lịch hẹn đang có: ' + cast(@SOLICHHEN AS VARCHAR(5)))


COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_VIEW_THUOC]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_VIEW_THUOC]
	@MATHUOC VARCHAR(10)
AS
SET TRAN ISOLATION LEVEL READ UNCOMMITTED	
BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	select * from Thuoc WHERE MaThuoc = @MATHUOC
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_VIEW_THUOC_FIX]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_VIEW_THUOC_FIX]
	@MATHUOC VARCHAR(10)
AS
BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	--SET @DONGIA = (SELECT DONGIA FROM THUOC WHERE MATHUOC = @MATHUOC)
	select * from Thuoc WHERE MaThuoc = @MATHUOC
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_VIEW_THUOC_UNR]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Tran 1
CREATE   PROC [dbo].[SP_VIEW_THUOC_UNR]
	@MATHUOC VARCHAR(10)
AS	
BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	select * from Thuoc WHERE MaThuoc = @MATHUOC

	WAITFOR DELAY '00:00:10'

	select * from Thuoc WHERE MaThuoc = @MATHUOC

COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_VIEW_THUOC_UNR_FIX]    Script Date: 06-Jan-24 11:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Tran 1
CREATE   PROC [dbo].[SP_VIEW_THUOC_UNR_FIX]
	@MATHUOC VARCHAR(10)
AS SET TRAN ISOLATION LEVEL REPEATABLE READ
BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM THUOC WHERE MATHUOC = @MATHUOC) 
	BEGIN
        RAISERROR('INVALID MATHUOC', 16, 1)
        ROLLBACK TRAN
        RETURN -1
    END

	select * from Thuoc WHERE MaThuoc = @MATHUOC

	WAITFOR DELAY '00:00:10'

	select * from Thuoc WHERE MaThuoc = @MATHUOC

COMMIT TRAN
GO
USE [master]
GO
